/**
 * @file
 *
 * Override styles that the Drupal defaults.css applies to tags that break Ext JS.
 */
fieldset {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
table {
  border-collapse: separate;
}
th {
  text-align: left; /* LTR */
  padding: 0; /* LTR */
  border: none;
}