/**
 * @file
 *
 * Override the styles that the Theme Garland style.css applies to tags that break Ext JS.
 */
fieldset.x-fieldset {
  background: none;
}
table.x-grid-table, table.x-field, table.x-form-trigger-wrap {
  margin: 0;
  width: auto;
}
ul li.x-boundlist-item {
  background: none;
}