/**
 * @file
 *
 * Override styles that the Drupal system.css applies to tags that break Ext JS.
 */
table.x-field > tbody {
  border-top: none;
}
table.x-field > tbody > th {
  border-bottom: none;
}
table.x-field > thead > th {
  text-align: left; /* LTR */
  padding: 0; /* LTR */
  border-top: none;
}